.form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
  gap: 8px;
}

input {
  height: 40px;
  width: 272px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;

  font-size: 16px;
  line-height: 1.5;

  transition: border-color 0.2s ease-in-out;
}

input::placeholder {
  font-size: 16px;
  line-height: 1.5;
  color: #808080;
}

input:focus-within {
  border: 1px solid #4e75ff;
}

input:hover {
  border-color: #000000;
}

button {
  height: 40px;
  min-width: 91px;
  border-radius: 8px;
  color: #fff;
  background-color: #4e75ff;
  border: none;

  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;

  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #6c8cff;
}

.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: none;
  margin: 16px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader.isActive {
  display: block;
}
